name: just-build.yml
on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
      - run: mvn clean package -Dmaven.test.skip=true
      - uses: actions/upload-artifact@v6
        with:
          name: "build"
          path: "."
